body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh
}

.header,
.body1{
    background-color: #1f2937;
    color: white;
}
.header{
    display: flex;
    flex-shrink: 0;
}
.body1,
.body2,
.body3,
.body4{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: auto;
    width: 300px;
    padding: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    padding-left: 13.5%;
}
ul{
    display: flex;
    padding-right: 15%;
    gap: 15px;
    list-style-type: none;
}
li{
    font-size: 18px;
    color: #e5e7eb;
}
.body1{
    gap: 50px;
    padding: 80px 13.5%;
}
.body1-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    color: #e5e7eb;
}
.body1-container :first-child{
    font-size:48px;
    font-weight: 900;
    color: #f9faf8;

}
.body1-container button{
    color: white;
    background-color: #3882f6;
    margin-top: 10px;
}
button{
    text-align: center;
    border-radius: 5%;
    padding: 6px 25px;
    border: none;
    font-weight: 800;
    font-size: 16px;
}
.box{
    display: flex;
    width: 400px;
    height: 200px;
    
}
.body2{
    padding: 50px;
    display: flex;
    flex-direction: column;

}
.body2 >div:first-of-type{
    padding-top: 50px;
    color: #1f2937;
    font-size:36px;
    font-weight: 900;
}
.body2-container{
    height: auto;
    display: flex;
    padding: 40px 200px;
}
.body2-container img{
    border: 3px solid #3882f6;
    border-radius: 10px;
    max-width: 100%;
    padding: 0px;
    margin: 0;
}
.body2 img{
    margin: 5px;
}
.imgbox{ 
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    color:#1f2937;

}
.body3{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 90px 200px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.body3-container2{
    padding-left: 450px;
    font-weight: bold;
}
.body4{
    color: white;
    padding: 150px;
}
.body4-container{
    display: flex;
    padding: 40px 150px;
    background-color: #3882f6;
    border-radius: 10px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-left: 40px;
}
.body4 button{
    width: 110px;
    border:  2px solid white;
    background-color: #3882f6;
    color: white;
}
.footer{
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
    background-color: #1f2937;
}