body{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
}

.header,
.body1{
    background-color: #1f2937;
    color: white;
}
.header{
    display: flex;
    flex-shrink: 0;
}
.body1,
.body2,
.body3,
.body4{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: auto;
    width: 300px;
    padding: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    padding-left: 13.5%;
}
ul{
    display: flex;
    padding-right: 15%;
    gap: 15px;
    list-style-type: none;
}
li{
    font-size: 18px;
    color: #e5e7eb;
}
.body1{
    padding: 20px 13.5%;
}
.body1-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    color: #e5e7eb;
}
.body1-container :first-child{
    font-size:48px;
    font-weight: 900;
    color: #f9faf8;

}
.body1-container button{
    color: white;
    background-color: #3882f6;
    padding: 10px 20px;
    margin-top: 10px;
}
